/* BOLDER */
@font-face {
  font-family: 'Lato-Bolder';
  src: url('fonts/text/Lato-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-BolderItalic';
  src: url('fonts/text/Lato-BlackItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}



/* BOLD */
@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/text/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('fonts/text/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}





/* REGULAR */
@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/text/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Regular-Italic';
  src: url('fonts/text/Lato-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



/* LIGHT, NORMAL*/
@font-face {
  font-family: 'Lato-Light';
  src: url('fonts/text/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Light-Italic';
  src: url('fonts/text/Lato-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


/* HAIRLINE */
@font-face {
  font-family: 'Lato-HairLine';
  src: url('fonts/text/Lato-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url('fonts/text/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}





